/* Animações */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* Aplicando Animações */

.hero-content {
    animation: fadeIn 1s ease-out, slideUp 0.8s ease-out;
}

.dish-card {
    animation: slideUp 0.8s ease-out;
}

.modal-content {
    animation: slideUp 0.5s ease-out;
}

.btn-primary:hover,
.btn-secondary:hover {
    animation: pulse 0.5s ease;
}

.like-btn:hover,
.dislike-btn:hover {
    animation: pulse 0.3s ease;
}